@import "../../variables";

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 800px; // DANGER
  align-items: flex-start;
}
.carousel--square {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: transform 1s ease-in-out
}
.slide--square{
  display: flex;
  flex-direction: column;
  width: calc(1160px / 2);
  height: 100%;
  &.active{
    .slide-info--square{
      opacity: 1;
      transition: opacity .5s ease-in-out 1s;
    }
    .slide-image--square{
      img{
        height: 100%;
        transform: scale(1);
        transition: all .5s ease-in-out 0ms;
      }
    }
  }
}
.slide-image--square{
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  img{
    height: 60%;
    width: 100%;
    object-fit: none;
    transform: scale(.90);
    transition: all 1s ease-out 0ms;
  }
}
.slide-info--square{
  opacity: 0;
  text-align: center;
  height: 20%;
  transition: opacity .5s ease-in-out 0s;
  h3{
    color: $blue
  }
  
}
