.controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  pointer-events: none;
  align-items: center;
  &--round {

  }
  &--square{
    padding-top: 10%;
    justify-content: space-around;
  }
}
.slider-control {
  pointer-events: all;
  width: 40px;
  height: 40px;
}
@media (hover: none) {
  .controls{
    visibility: hidden;
  }
}
