.controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  pointer-events: none;
  align-items: center;
  &--round {

  }
  &--square{
    padding-top: 10%;
    justify-content: space-around;
  }
}
.slider-control {
  pointer-events: all;
  width: 40px;
  height: 40px;
}
@media (hover: none) {
  .controls{
    visibility: hidden;
  }
}
@media(min-width: 1600px){
  .controls{
    background: 
      linear-gradient(
        90deg, rgba(12,8,20,1) 0%, 
        rgba(12,8,20,0.8) 5%, 
        rgba(255,255,255,0) 10%,
        rgba(255,255,255,0) 90%, 
        rgba(12,8,20,0.8) 95%,
        rgba(12,8,20,1) 100%);
  &--simple{
    background: none;
  }
  }
}
