.controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  pointer-events: none;
  &--round {
  }
  &--square{
    padding-top: 10%
  }
}
.slider-control {
  pointer-events: all;
}
