@import "../../../variables";

.accordion {
  display: inline-grid;
  grid-template-columns: 8rem 1fr auto;
  gap: 6px;
  background: rgba(34, 6, 94, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px 20px;
  transition: 0.7s;
  width: 100%;

  &__count {
    @include ChicaGogo();
    font-size: 48px;
    min-width: 5rem;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: $color-second;
    font-weight: bold;
    transition: all 0.8s ease-out;

    &.--active {
      font-size: 96px;
    }
  }

  &__content {
    align-self: center;
  }

  &__title {
    color: $color-white;
    @include Montserrat(500);
    font-size: 24px;
    line-height: 40px;
    text-align: left;
    transition: all 0.7s ease-out;

    &.--active {
      color: $color-grean;
      font-size: 36px;
      @include Montserrat(700);
    }
  }

  &__text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
  }

  &__button {
    align-self: end;
    height: fit-content;

    &-wrapper {
      display: flex;

    }
  }

}