@import "../../variables";

.button{
	color: white;
	border-radius: 15px;
	cursor: pointer;
	margin: 10px;
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;

	@include Montserrat(600);
	font-size: 18px;
	line-height: 22px;

	--paddingV: 19px;
	--paddingH: 46px;
	--border-width: 3px;

	&.icon-button{
		--paddingH: 26px;
	}

	&.primary{
		border: none;
		box-shadow: 7px 15px 50px rgba(0, 0, 0, 0.25), inset 4px 6px 4px rgba(255, 255, 255, 0.15), inset -3px -5px 6px rgba(0, 0, 0, 0.25);
		padding: var(--paddingV) var(--paddingH);

		&.orange{
			background: linear-gradient(251.68deg, $blue -14.63%, $orange 101.51%);
			&::before {
				border-radius: 15px;
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: linear-gradient(251.68deg, #1914FF -14.63%, #FFBD14 101.51%);
				box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25), inset 4px 6px 4px rgba(255, 255, 255, 0.15), inset -3px -5px 6px rgba(0, 0, 0, 0.25);
				z-index: -1;
				transition: opacity 0.1s linear;
				opacity: 0;
			}
			&:hover::before{
				opacity: 1;
			}
			&:active{
				&::before{
					background: linear-gradient(251.68deg, #0500E7 -14.63%, #C75F00 101.51%);
					box-shadow: inset -3px -5px 4px rgba(255, 255, 255, 0.15), inset 4px 6px 6px rgba(0, 0, 0, 0.25);
				}
			}
			&:disabled{
				background: linear-gradient(251.68deg, #2D0C73 -14.63%, #6F3717 101.51%);
				&::before{
					background: linear-gradient(251.68deg, #2D0C73 -14.63%, #6F3717 101.51%);
				}
			}
		}

		&.green{
			background: linear-gradient(257.07deg, $orange -10.83%, $green 104.11%);
			&::before {
				border-radius: 15px;
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: linear-gradient(251.68deg, #FFA800 -14.63%, #00B2CA 101.51%);
				box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25), inset 4px 6px 4px rgba(255, 255, 255, 0.15), inset -3px -5px 6px rgba(0, 0, 0, 0.25);
				z-index: -1;
				transition: opacity 0.1s linear;
				opacity: 0;
			}
			&:hover::before{
				opacity: 1;
			}
			&:active{
				&::before{
					background: linear-gradient(251.68deg, #D04B00 -14.63%, #046637 101.51%);
					box-shadow: inset -3px -5px 4px rgba(255, 255, 255, 0.15), inset 4px 6px 6px rgba(0, 0, 0, 0.25);
				}
			}
			&:disabled{
				background: linear-gradient(251.68deg, #7B3812 -14.63%, #13412B 101.51%);
				&::before{
					background: linear-gradient(251.68deg, #7B3812 -14.63%, #13412B 101.51%);
				}
			}
		}

		&.violet{
			background: linear-gradient(106.31deg, $blue -7.17%, $orange 108.68%);
		}
	}


	&.secondary{
		--mainColor: #5200FF;
		transition: all .1s linear;

		&.green{
			--mainColor: #009D52;
		}

		&.orange{
			--mainColor: #FF5C00;
			&:hover{
				--mainColor:  #FF8A00;
			}
			&:active{
				--mainColor: #5200FF;
			}
			&:disabled{
				--mainColor: #4F3487;
			}
		}

		background: transparent;
		border: 3px solid var(--mainColor);
		box-sizing: border-box;
		color: var(--mainColor);

		--secondary-paddingV:  calc( var(--paddingV) - var(--border-width) );
		--secondary-paddingH:  calc( var(--paddingH) - var(--border-width) );
		padding: var(--secondary-paddingV) var(--secondary-paddingH) ;
	}

	&.additional{
		&.dark{
			--mainColor: #0D0916;
			box-shadow: 4px 11px 30px rgba(0, 0, 0, 0.2), inset 4px 6px 6px rgba(255, 255, 255, 0.1), inset -3px -4px 6px rgba(0, 0, 0, 0.4);
		}

		&.green{
			background: linear-gradient(251.68deg, #FF5C00 -14.63%, #009D52 101.51%);
			box-shadow: 4px 11px 30px rgba(0, 0, 0, 0.2), inset 4px 6px 6px rgba(255, 255, 255, 0.35), inset -3px -4px 6px rgba(0, 0, 0, 0.25);
			&::before {
				border-radius: 25px;
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: linear-gradient(251.68deg, #FFA800 -14.63%, #00B2CA 101.51%);
				box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25), inset 4px 6px 4px rgba(255, 255, 255, 0.15), inset -3px -5px 6px rgba(0, 0, 0, 0.25);
				z-index: -1;
				transition: opacity 0.1s linear;
				opacity: 0;
			}
			&:hover::before{
				opacity: 1;
			}
			&:active{
				&::before{
					background: linear-gradient(251.68deg, #D04B00 -14.63%, #046637 101.51%);
					box-shadow: inset -3px -5px 4px rgba(255, 255, 255, 0.15), inset 4px 6px 6px rgba(0, 0, 0, 0.25);
				}
			}
			&:disabled{
				background: linear-gradient(251.68deg, #7B3812 -14.63%, #13412B 101.51%);
				&::before{
					background: linear-gradient(251.68deg, #7B3812 -14.63%, #13412B 101.51%);
				}
			}
		}

		&.orange{
			background: linear-gradient(251.68deg, $blue -14.63%, $orange 101.51%);
			&::before {
				border-radius: 25px;
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: linear-gradient(251.68deg, #1914FF -14.63%, #FFBD14 101.51%);
				box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25), inset 4px 6px 4px rgba(255, 255, 255, 0.15), inset -3px -5px 6px rgba(0, 0, 0, 0.25);
				z-index: -1;
				transition: opacity 0.1s linear;
				opacity: 0;
			}
			&:hover::before{
				opacity: 1;
			}
			&:active{
				&::before{
					background: linear-gradient(251.68deg, #0500E7 -14.63%, #C75F00 101.51%);
					box-shadow: inset -3px -5px 4px rgba(255, 255, 255, 0.15), inset 4px 6px 6px rgba(0, 0, 0, 0.25);
				}
			}
			&:disabled{
				background: linear-gradient(251.68deg, #2D0C73 -14.63%, #6F3717 101.51%);
				&::before{
					background: linear-gradient(251.68deg, #2D0C73 -14.63%, #6F3717 101.51%);
				}
			}
		}

		border: none;
		background: var(--mainColor);
		border-radius: 135px;
		padding: 9px 24px;
	}

}
