@import "../../variables";

.button{
	color: white;
	border-radius: 15px;
	cursor: pointer;
	margin: 10px;
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;

	@include Montserrat(600);
	font-size: 18px;
	line-height: 22px;

	--paddingV: 19px;
	--paddingH: 46px;
	--border-width: 3px;

	transition: all .2s linear;

	&.icon-button{
		--paddingH: 26px;
	}

	&.primary{
		border: none;
		box-shadow: 7px 15px 50px rgba(0, 0, 0, 0.25), inset 4px 6px 4px rgba(255, 255, 255, 0.15), inset -3px -5px 6px rgba(0, 0, 0, 0.25);
		padding: var(--paddingV) var(--paddingH);


		&::before {
			border-radius: 15px;
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25), inset 4px 6px 4px rgba(255, 255, 255, 0.15), inset -3px -5px 6px rgba(0, 0, 0, 0.25);
			z-index: -1;
			transition: opacity 0.1s linear;
			opacity: 0;
		}

		&:hover::before{
			opacity: 1;
		}

		&:disabled{
			cursor: auto;
			transition: none;

			&::before{
				opacity: 0;
			}
		}

		&.orange{

			box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25), inset 4px 6px 4px rgba(255, 255, 255, 0.15), inset -3px -5px 6px rgba(0, 0, 0, 0.25);
			background: linear-gradient(251.68deg, #5200FF -14.63%, #FF5C00 101.51%);

			//background on hover
			&::before {
				background: linear-gradient(251.68deg, #2400FF -14.63%, #FF3D00 101.51%);
			}

			//active
			&:active::before{
				background: linear-gradient(251.68deg, #0500E7 -14.63%, #C75F00 101.51%);
				box-shadow: inset -3px -5px 4px rgba(255, 255, 255, 0.15), inset 4px 6px 6px rgba(0, 0, 0, 0.25);
			}

			//disabled
			&:disabled{
				box-shadow: inset 4px 6px 4px rgb(255 255 255 / 15%), inset -3px -5px 6px rgb(0 0 0 / 25%);
				background: linear-gradient(251.68deg, #2D0C73 -14.63%, #6F3717 101.51%);
			}
		}

		&.green{
			background: linear-gradient(251.68deg, #FF5C00 -14.63%, #009D52 101.51%);

			&::before {
				background: linear-gradient(251.68deg, #FF2E00 -14.63%, #00B81D 101.51%);
			}

			&:active::before{
				background: linear-gradient(251.68deg, #D04B00 -14.63%, #046637 101.51%);
				box-shadow: inset -3px -5px 4px rgba(255, 255, 255, 0.15), inset 4px 6px 6px rgba(0, 0, 0, 0.25);
			}

			&:disabled, &:disabled::before{
				background: linear-gradient(251.68deg, #7B3812 -14.63%, #13412B 101.51%);
				box-shadow: inset 4px 6px 4px rgb(255 255 255 / 15%), inset -3px -5px 6px rgb(0 0 0 / 25%);
			}
		}
	}


	&.secondary{
		--mainColor: #5200FF;
		transition: all .1s linear;

		&.green{
			--mainColor: #009D52;
		}

		&.orange{
			--mainColor: #FF7E36;
			&:hover{
				--mainColor:  #FF5C00;
			}
			&:active{
				--mainColor: #BF360B;
			}
			&:disabled{
				--mainColor: #824D2F;
			}
		}

		background: transparent;
		border: 3px solid var(--mainColor);
		box-sizing: border-box;
		color: var(--mainColor);

		--secondary-paddingV:  calc( var(--paddingV) - var(--border-width) );
		--secondary-paddingH:  calc( var(--paddingH) - var(--border-width) );
		padding: var(--secondary-paddingV) var(--secondary-paddingH) ;
	}

	&.additional{
		&.dark{
			--mainColor: #0D0916;
			box-shadow: 4px 11px 30px rgba(0, 0, 0, 0.2), inset 4px 6px 6px rgba(255, 255, 255, 0.1), inset -3px -4px 6px rgba(0, 0, 0, 0.4);
		}

		&.green{
			--mainColor: #0FC16C;
			&:hover{
				--mainColor: #009D52;
			}
			&:active{
				--mainColor: #036536;
			}
			&:disabled{
				--mainColor: #28553F;
			}
		}

		&.violet{
			--mainColor: #7636FF;

			&:hover{
				--mainColor: #5200FF;
			}
			&:active{
				--mainColor: #3900B1;
			}
			&:disabled{
				--mainColor: #413067;
			}
		}

		box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25), inset 4px 6px 4px rgba(255, 255, 255, 0.15), inset -3px -5px 6px rgba(0, 0, 0, 0.25);

		&:active{
			box-shadow: inset -3px -5px 4px rgba(255, 255, 255, 0.15), inset 4px 6px 6px rgba(0, 0, 0, 0.25);
		}

		&:disabled{
			box-shadow: inset -3px -5px 4px rgba(255, 255, 255, 0.15), inset 4px 6px 6px rgba(0, 0, 0, 0.25);
		}

		border: none;
		background: var(--mainColor);
		border-radius: 50%;
	}
}
