.footer {
	position: relative;
	background: rgba(34, 6, 94, 0.1);
	backdrop-filter: blur(30px);

	& .nav {
		margin: 0 auto;
		padding-top: 80px;
	}

	&__container {
		min-height: auto;

		display: flex;
		align-items: center;
		flex-wrap: wrap;

		margin-top: 100px;
 		padding: 0;

		& div{
			width: 50%;
			padding: 1rem;
			&:nth-child(even) {
				text-align: end;
			}
		}
	}
}