.form {

  .form-button{
    float: right;
    margin: 0;
  }

  .field{
    margin-bottom: 2rem;
  }

  @media  screen and (max-width: 1300px){
    .field{
      margin-bottom: 1.5rem;
    }

    .form-button{
      --paddingV: 1rem;
    }
  }

  @media  screen and (max-width: 650px){
    .form-button {
      width: 100%;
      text-align: center;
    }
  }

}
