.discover{
  width: 100%;
  background: rgba(34, 6, 94, 0.1);
  backdrop-filter: blur(30px);
}


.discover-section{
  display: flex;
  flex-flow: row;
  gap: 4rem;

  height: 450px;
  min-height: 450px;

  img{
    width: 450px;
    object-fit: cover;
  }

  .discover-content{
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 0 2rem;
  }

  .discover-button{
    align-self: flex-end;
    margin: 10% 0;
  }
}

@media (max-width: 1600px) {

  .discover-section .discover-button{
      align-self: flex-end;
      margin: 2.5rem 0;

      --paddingV: 15px;
      --paddingH: 30px;
  }

}


@media (min-width: 1600px) {
  .discover-section {
    gap: 6rem;
    height: 35rem;
  }

}