@import "../../variables";

.user-card{
  --mainColor: var(--half-green);

  &.blue{
    --mainColor: rgba(82, 0, 255, 0.3);
  }

  &.orange{
    --mainColor: var(--half-orange);
  }
  position: relative;
  background: var(--mainColor);
  display: inline-flex;
  flex-flow: column;
  border-radius: 15px;
  margin: auto;
  align-items: center;

  padding: 3rem 3rem 1.5rem;

  .user-name{
    @include Montserrat(700);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;

    margin-top: 30px;
  }

  .user-description{
    @include Montserrat(400);
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;

    min-height: 17px;
  }

  p{
    margin-bottom: 10px;
  }

  &.big{
    padding: 2.5rem;
    height: 30rem;
    flex-flow: row;
    gap: 2.5rem;
    margin-bottom: 4rem;

    background: linear-gradient(137.02deg, rgba(36, 0, 255, 0.35) 7.74%, rgba(255, 92, 0, 0.25) 89.36%);

    &.green{
      background: linear-gradient(137.02deg, var(--half-green) 7.74%, var(--half-orange) 89.36%);
    }

    &.orange{
      background: linear-gradient(137.02deg, var(--half-orange) 7.74%, var(--half-blue) 89.36%);
    }

    .content{
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-between;
    }

    .user-name{
      margin: 10% 0 0;
    }

    img{
      height: 100%;
    }

    .card-button{
      align-self: flex-end;
      margin: 10% 0 0;
    }
  }

}

@media (max-width: 1000px){
  .user-card.big {
    height: 38rem;
    padding: 2rem;
    gap: 0;
    margin-bottom: 2.5rem;

    img{
      min-width: 17rem;
      width: 17rem;
    }
  }
}

@media (max-width: 767.98px) {
  .user-card.big {
    flex-direction: column;

    height: 38rem;
    padding: 2rem;
    gap: 0;
    margin-bottom: 2.5rem;


    img{
      min-width: 12rem;
      min-height: 12rem;
    }

    .content{
      .user-name{
        margin: 1.5rem 0;
        text-align: center;
        width: 100%;
      }

      .card-button{
        margin: 1.5rem 0 0;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .user-card.big {
    img{
      min-width: 8rem;
      min-height: 8rem;
    }
  }
}

@media (max-width: 500px) {
  .user-card.big {

    padding: 1rem;
    .content{
      .user-name{
        margin: 1rem 0;
      }

      .card-button{
        margin: 1rem 0 0;
      }
    }
  }
}


@media (max-width: 1300px){
  .user-card {
   // padding: 2.5rem 2.75rem 1.5rem;

    .card-button{
      --paddingV: 15px;
      --paddingH: 30px;
    }
  }
}

@media (min-width: 1300px) {
  .user-card.big {
    height: 45rem;
    padding: 4rem 6rem 4rem 5rem;
    gap: 5rem;
    margin-bottom: 4rem;

    .user-name{
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.02em;

      margin-top: 6rem;
    }


    img {
      width: 30rem;
      min-width: 30rem;
    }
  }
}

