@import "../../variables";

.user-card{
  --mainColor: var(--half-green);

  &.blue{
    --mainColor: var(--half-blue);
  }

  &.orange{
    --mainColor: var(--half-orange);
  }

  background: var(--mainColor);
  display: inline-flex;
  flex-flow: column;
  border-radius: 15px;
  margin: auto;
  align-items: center;

  padding: 3rem 3rem 1.5rem;

  @media (max-width: 1300px){
    padding: 2em 2rem 1.5rem;
  }

  .user-name{
    @include Montserrat(700);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;

    margin-top: 30px;
  }

  .user-description{
    @include Montserrat(400);
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;

    min-height: 17px;
  }

  p{
    margin-bottom: 10px;
  }

  .card-button{
    --paddingV: 15px;
    --paddingH: 30px;
  }

  &.big{
    padding: 3rem;
    //height: 90vh;
    //width: 70vw;
    height: 34rem;
    flex-flow: row;
    gap: 3rem;

    background: linear-gradient(137.02deg, var(--half-blue) 7.74%, var(--half-orange) 89.36%);

    &.green{
      background: linear-gradient(137.02deg, var(--half-green) 7.74%, var(--half-orange) 89.36%);
    }

    &.orange{
      background: linear-gradient(137.02deg, var(--half-orange) 7.74%, var(--half-blue) 89.36%);
    }

    .content{
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-between;
    }

    .user-name{
      margin: 10% 0 0;
    }

    img{
      height: 100%;
    }

    .card-button{
      align-self: flex-end;
      margin: 10% 0 0;
    }
  }
}