@import "../../variables";

.header {
  position: relative;
  height: 100%;
  &__nav{
    position: sticky;
    top: 0;
    z-index: 20;
    & .nav {
      padding: 0 2.5rem;

      @media (max-width: 550px) {
        padding: 0 1.25rem;
      }
    }
  }

  &__nav:before {
    background-color: rgba(11, 1, 34, 0.92);
    
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__container {
    position: relative;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    color: $color-white;

    &__tittle{
      max-width: 761px;
    }
    &__subtittle{
      max-width: 524px;
      padding: 0 .5rem 3rem .5rem;
      opacity: 0.75;
    }

    &__actions{
      .head-button{
        --paddingV: 15px;
        --paddingH: 30px;

        width: 13rem;
      }
    }

    &__socials{
      padding-top: 4rem;
    }
  }
}
@supports ((-webkit-backdrop-filter: blur(30px)) or (backdrop-filter: blur(30px))) {
  .header__nav:before{
    background-color: rgba(0,0,0,0);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}
.header__container {
  .badger {
    display: block;
    position: absolute;
    max-height: 80%;
    background-position: right;
    right: 0;
    z-index: -1;

    top: 50% ;
    transform: translate(-25%, -50%);;

    filter: drop-shadow(0px 0 100px rgba( 82, 0, 255, 0.5));
    shape-outside: url('../../assets/img/Honey_badger.png');
    shape-margin: 1rem;

  }

}

.bg-container{
  overflow: hidden;

  .circle {
    overflow-x: hidden;
    position: absolute;

    width: 100%;
    top: 0;
    z-index: -100;
  }

  .circle:before{
    content: " ";
    width: 46rem;
    height: 46rem;
    top: 0;
    transform: translate(-30%, -40%);
    border-radius: 50%;
    background: linear-gradient(148.28deg, #5200FF 14.79%, rgba(255, 92, 0, 0.5) 85.83%);
    display: block;
  }

  .circle:after{
    content: " ";
    display: block;
    //max-width: 150%;
    width: 55rem;
    height: 36rem;
    top: 0;

    border-radius: 50%;
    transform: translate(-40%, -40%);
    background: linear-gradient(20.56deg, #5200FF 41.12%, rgba(82, 0, 255, 0) 116.55%);
  }

}



@media (min-width: 1199.98px) {
  .header {

    &__container {
      padding-top: 3rem;

      &__actions{
        .head-button{
          --paddingV: 19px;
          --paddingH: 46px;

          margin: 0 2rem 0 0;
        }

        padding: 0.5rem 0 3rem;

      }

    }


  }
  .bg-container{

    .circle:before{
      transform: translate(-40%, -30%);
    }
    .circle:after{
      transform: translate(-40%, -30%);
    }

  }
}

@media (min-width: 1601px) {
  .header {
    &__container {
      padding-top: 8rem;

      &__actions{
        padding: 2rem 0 8rem;
      }
    }
  }

  .bg-container{

    .circle:before{
      transform: translate(-20%, -20%);
    }

    .circle:after{
      transform: translate(-20%, 0%);
    }

  }

}

@media (min-width: 1921px) {
  .header {
    &__container {
      padding-top: 9rem;

      &__actions{
        padding: 4rem 0 10rem;
      }
    }
  }

}

@media (max-width: 991.98px){
  .header {

    &__container {
      display: block;

      &__subtittle{
        padding-left: 0;
      }

      .badger{
        position: inherit;
        max-height: 80%;
        max-width: 30%;
        float: right;

        transform: none;
      }

      &__actions{
        .head-button{
          width: 30%;
          margin: 0 2rem 1rem 0;
        }

      }

      &__socials{
        padding-top: 3rem;
      }

    }
  }
}


@media (max-width: 767.98px){
  .header__container {

      .badger{
        margin-top: 10%;
      }

      &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;

        width: 100%;

        .head-button {
          width: 40%;

          &.primary {
            margin-bottom: 1rem;
          }
        }
      }
  }
}


@media (max-width: 575.98px){
  .header__container{

    .badger{
      margin-top: 3rem;
      max-width: 8rem;
    }


    &__actions {
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;

      width: 100%;

      .head-button {
        width: 100%;
        margin-bottom: 0;

        &.primary{
          margin-bottom: 0;
        }
      }
    }

    &__socials{
      padding-top: 2rem;
    }

    &__subtittle{
      padding: 0 0 1.5rem;
    }
  }

  .bg-container{

    .circle:before{
      transform: translate(-60%, -50%);
    }

    .circle:after{
      width: 125%;
      height: 85vw;
      transform: translate(-25%, -65%);
    }

  }
}

@media  screen and (max-width: 445px) {
  .header__container .badger {
    margin-top: 8rem;
    margin-right: -1rem;
    max-width: 6.5rem;
  }
}


