@import "../../variables";

.header {
  position: relative;
  height: 100%;
  &__nav{
    position: sticky;
    top: 0;
    z-index: 20;
    & .nav {
      padding: 0 2.5rem;

      @media (max-width: 550px) {
        padding: 0 1.25rem;
      }
    }
  }

  &__nav:before {
    backdrop-filter: blur(30px);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__container {
    position: relative;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    color: $color-white;

    &__tittle{
      max-width: 761px;

      @media (max-width: 475px) {
        margin: 2rem .5rem ;
        font-weight: 700;
      }
    }
    &__subtittle{
      max-width: 524px;
      padding: 0 .5rem 3rem .5rem;
      opacity: 0.75;
    }

    &__actions{
      @media (max-width: 475px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .head-button{
        --paddingV: 15px;
        --paddingH: 30px;

        width: 13rem;

        @media (max-width: 475px) {
          justify-content: center;
          width: 95%;
          margin: 10px 0;
        }
      }
    }

    &__socials{
      padding-top: 4rem;
      @media (max-width:475px){
          justify-content: center;
      }
    }
  }
}

.header__container {
  .badger {
    display: block;
    position: absolute;
    max-height: 80%;
    background-position: right;
    right: 0;
    z-index: -1;

    top: 50% ;
    transform: translate(-25%, -50%);;

    filter: drop-shadow(0px 0 100px rgba( 82, 0, 255, 0.5));
    shape-outside: url('../../assets/img/Honey_badger.png');
    shape-margin: 1rem;

  }

  .circle {
    position: absolute;
    width: 46rem;
    height: 46rem;
    z-index: -100;
    top: 0;
    transform: translate(-40%, -50%);
    border-radius: 50%;
    background: linear-gradient(148.28deg, #5200FF 14.79%, rgba(255, 92, 0, 0.5) 85.83%);
  }

  .elliptic {
    position: absolute;
    width: 55rem;
    height: 36rem;
    bottom: 0;
    z-index: -100;

    border-radius: 50%;
    transform: translate(-40%, 75%);
    background: linear-gradient(20.56deg, #5200FF 41.12%, rgba(82, 0, 255, 0) 116.55%);
  }
}



@media (min-width: 1281px) {
  .header {

    &__container {
      padding-top: 3rem;

      &__actions{
        .head-button{
          --paddingV: 19px;
          --paddingH: 46px;

          margin: 0 2rem 0 0;
        }

        padding: 0.5rem 0 3rem;

      }

    }
  }
}

@media (min-width: 1601px) {
  .header {
    &__container {
      padding-top: 8rem;

      &__actions{
        padding: 2rem 0 8rem;
      }
    }
  }

}

@media (min-width: 1921px) {
  .header {
    &__container {
      padding-top: 9rem;

      &__actions{
        padding: 4rem 0 10rem;
      }
    }
  }

}

@media (max-width: 991.98px){
  .header {

    &__container {
      display: block;

      &__subtittle{
        padding-left: 0;
      }

      .badger{
        position: inherit;
        max-height: 80%;
        max-width: 40%;
        float: right;

        transform: none;
      }

      &__actions{
        .head-button{
          width: 30%;
          margin: 0 2rem 1rem 0;
        }

      }

      &__socials{
        padding-top: 3rem;
      }

    }
  }
}


@media (max-width: 660px){
  .header__container {

      .badger{
        margin-top: 20%;
      }

      &__actions .head-button{
          width: 40%;
          margin: 0;

          &.primary{
            margin-bottom: 1rem;
          }
      }
  }
}


@media (max-width: 624px){
  .header__container .badger{
        margin-top: 11rem;
  }
}

@media (max-width: 550px){
  .header__container {

    .badger{
      margin-top: 0%;
    }

    .circle {
      transform: translate(-60%, -50%);
    }


    .elliptic {
      width: 30rem;
      height: 20rem;
      transform: translate(-30%, 55%);
    }

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 1rem;

      width: 100%;

      .head-button {
        width: 43%;
        margin-bottom: 1rem;
      }
    }

    &__socials{
      padding-top: 2rem;
    }
  }
}


@media (max-width: 495px){
  .header__container .badger{
      margin-top: 7%;
  }
}

@media (max-width: 480px){
  .header__container .badger{
      margin-top: 6rem;
  }
}


@media (max-width: 468px){
  .header__container{
    .badger{
      margin-top: 7rem;
    }
    &__actions {
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;

      width: 100%;

      .head-button {
        width: 100%;
        margin-bottom: 0;

        &.primary{
          margin-bottom: 0;
        }
      }
    }

  }
}

@media (max-width: 430px){
  .header__container .badger{
    margin-top: 7.75rem;
    max-width: 45%;
  }
}



