.container {
  &__customer-reviews {
    min-height: 0;
    padding: 0;
    padding-top: 3rem;
    h2 {
      float: right;
    }
  }
}
@media (max-width: 575.98px) {
  .container {
    &__customer-reviews {
      h2 {
        float: none;
        text-align: center;
      }
    }
  }
}
@media (min-width: 767.98px) {
  .container {
    &__customer-reviews {
      h2 {
        float: none;
        text-align: center;
      }
    }
  }
}