@import "../../variables";

.faq {

  &__wrapper {
    background-image: url("../../assets/img/faq/background.png");
    height: 100vh;
    //padding: 132px 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &__title {
    //@include ChicaGogo();
    text-align: center;
    //color: $color-white;
    //font-size: 64px;
    //font-weight: 700;
  }
}