.team-section {

  .user-cards {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .description {
    width: 100%;
    margin-bottom: 4rem;
  }

  .team-section__header {
    width: 100%;
  }
}


@media (min-width: 600px) {
  .team-section {
    .description {
      width: 70%;
    }

    .user-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


@media (min-width: 975px) {
  .team-section .user-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .team-section .user-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1700px) {
  .team-section .user-cards {
    grid-template-columns: repeat(5, 1fr);
  }
}