.team-section {

  .user-cards {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;

    overflow-x: hidden;
  }

  .big-card{
    &.appear{
      animation: big-card-appear ;
      animation-duration: 0.3s;
      animation-timing-function: linear;
     // animation-fill-mode: forwards;
    }

    &.disappear{
      animation: big-card-disappear ;
      animation-duration: 0.3s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }

  .small-card{
    overflow-x: hidden;

    &.selected{
      animation: small-card-disappear;
      animation-duration: 0.2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    &.previous{
      transform: scale(0.9);
      opacity: 0.7;

      animation: small-card-appear;
      animation-duration: 0.2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

  }

  .description {
    width: 100%;
    margin-bottom: 4rem;
  }

  .team-section__header {
    width: 100%;
  }
}



@keyframes big-card-appear {
  0% {
    height: 0;
    margin: 0;
    padding: 0;

    overflow: hidden;
    opacity: 0;
  }
}

@keyframes big-card-disappear {
  100% {
    height: 0;
    margin: 0;
    padding: 0;

    overflow: hidden;
    opacity: 0;
  }
}

@keyframes small-card-appear {
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes small-card-disappear {

  100%{
    transform: scale(0.9);
    opacity: 0.7;
  }
}


@media (min-width: 600px) {
  .team-section {
    .description {
      width: 70%;
    }

    .user-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


@media (min-width: 975px) {
  .team-section .user-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .team-section .user-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1700px) {
  .team-section .user-cards {
    grid-template-columns: repeat(5, 1fr);
  }
}