.team-section {
  overflow-x: hidden;
  
  .user-cards {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;

    div{
      flex-grow: 1;
      min-width: 15rem;

    }

    overflow-x: scroll;

  }

  .user-cards::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .user-cards {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .description {
    width: 100%;
    margin-bottom: 4rem;
  }

  .team-section__header {
    width: 100%;

    text-align: center;
  }
}



@keyframes big-card-appear {
  0% {
    height: 0;
    margin: 0;
    padding: 0;

    overflow: hidden;
    opacity: 0;
  }
}

@keyframes big-card-disappear {
  100% {
    height: 0;
    margin: 0;
    padding: 0;

    overflow: hidden;
    opacity: 0;
  }
}

@keyframes small-card-appear {
  0%{
    transform: scale(0.9);
    opacity: 0.7;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes small-card-disappear {

  100%{
    transform: scale(0.9);
    opacity: 0.7;
  }
}

@keyframes make-visible {

  0%{
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes make-invisible {

  0%{
    opacity: 1;
  }
  10%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@media screen and (min-width: 767.98px){
  .team-section{
    .big-card{
      overflow: hidden;

      &.appear{
        animation: big-card-appear ;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        // animation-fill-mode: forwards;
      }

      &.disappear{
        animation: big-card-disappear ;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
    }

    .small-card{
      overflow-x: hidden;

      &.selected{
        animation: small-card-disappear;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }

      &.previous{
        animation: small-card-appear;
        animation-duration: 0.2s;
        animation-timing-function: linear;
      }

    }
  }

}

@media (min-width: 991.98px) {
  .team-section {
    .description {
      width: 70%;
    }

    .user-cards {
      display: grid;
      gap: 1.5rem;

      grid-template-columns: repeat(2, 1fr);

      div{
        width: 100%;
        margin: 0;
      }
    }

    .team-section__header {
      text-align: left;
    }
  }
}


@media (min-width: 991.98px) {
  .team-section .user-cards{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .team-section .user-cards{
     grid-template-columns: repeat(4, 1fr);
     gap: 2rem;
  }
}

@media (min-width: 1500px) {
  .team-section .user-cards{
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}

@media (min-width: 1700px) {
  .team-section .user-cards{
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
  }
}

@media screen and (max-width: 991.98px){
  .team-section {
    overflow-x: visible;

    .big-card{

      .content .user-description{
        min-height: 0px;
      }
    }

    .small-card.selected{
      padding: 2rem 1.5rem 1.5rem;
      text-align: center;
    }

    .user-cards {
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      gap: 1.5rem;
      overflow-x: scroll;
      width: 100vw;
        position: relative;
        left: calc(-50vw + 50%);
      max-width: none;

      align-items: start;

      .user-card{
        margin: 0;
        transition: height 0.3s linear;
        padding: 2rem 2rem 1.5rem;
        min-width: 14rem;
      }

      .user-card:nth-of-type(1){
        margin-left: 2rem;
      }

      .user-card:last-child{
        margin-right: 2rem;
      }
    }


  }
}

@media screen and (max-width: 767.98px) {
  .team-section {
    .shadow-container{
      width: 100vw;
      height: fit-content;
      position: relative;
      left: calc(-50vw + 50%);
    }
    .shadow-container:before{
      content: " ";
      display: block;
      height: 100%;
      width: 2px;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 50;
      box-shadow: 1rem 0 3rem 1.5rem #04000d;
    }
    .shadow-container:after{
      content: " ";
      display: block;
      height: 100%;
      width: 2px;
      top: 0;
      right: 0;
      position: absolute;
      z-index: 50;
      box-shadow: -1rem 0 3rem 1.5rem #04000d;
    }

    .user-cards .user-card  {
      min-width: 16.5rem;
      max-height: 25rem;
      transition: max-height 0.5s linear;

      .avatar-img{
        min-height: 10rem;
      }

      &.selected{
        max-height: 50rem;
      }
    }
  }

}

@keyframes make-full-height {

  0%{
    max-height: 50%;
  }

  70%{
    max-height: 80%;
  }

  100%{
    max-height: 100%;
  }
}
