@import "../../variables";


/*Desktop View*/
.nav {
	max-width: 1500px;
	//background: rgba(34, 6, 94, 0.1);
	//backdrop-filter: blur(30px);

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding: 0 1rem;
	margin: 0 auto;

	min-height: 6rem;;
	transition: all .2s ease;

	position: relative;

	&.resize {
		min-height: 4.4rem
	}

	& .nav-links {
		display: flex;
		list-style-type: none;
		flex-wrap: wrap;

		& .nav-link{
			padding: .5rem 1.7rem;
			@include Montserrat(normal);
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.02em;
			a{
				transition: .3s all ease;
				&:hover {
					color: #6825FFFF;
				}
			}
		}
	}
	@media (max-width: 500px) {
		min-height: 4.4rem
	}
}

/*Mobile View */
.nav-links {
	&.mobile {
		position: absolute;

		width: 13rem;
		max-height: 0;
		opacity: 0;
		overflow-y: hidden;

		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		background: rgba(34, 6, 94, 0.1);
		-webkit-backdrop-filter: blur(30px);
		backdrop-filter: blur(30px);

		//opacity: 0;
		transition: all 0.4s ease;

		right: 0;

		bottom: 1px;
		transform: translateY(100%);

		&.active {
			max-height: none;
			opacity: 1;
		}

		.nav-link {
			a {
				@include Montserrat(300);
				font-size: 14px;
				line-height: 17px;

				letter-spacing: 0.02em;
			}
			a:hover {
				@include Montserrat(600);
			}

			display: flex;
			align-items: center;
			justify-content: flex-end;

			padding: 1rem 0 1rem 1rem;
			margin: 0 2.5rem;

			&:nth-of-type(n){
				border-top: 0.5px solid #A2A2A2;
			}

			&:nth-of-type(1){
				border-top: none;
			}

		}

		@media (max-width: 550px) {
			width: auto;
			.nav-link {
				margin: 0 1.25rem;
			}
		}
	}
}

.menu-burger{
	width: 2rem;
	height: 2rem;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 110;

	padding: 0;
	background: transparent;
	border: none;
	cursor: pointer;

		& span{
			width: 2rem;
			height: 0.25rem;
			position: relative;

			border-radius: .6rem;
			transition: all 0.2s linear;
			transform-origin: 1px;
			background: #fff;

			&:nth-of-type(1){
				transform:rotatez(0deg)
			}
			&:nth-of-type(2){
				opacity: 1;
				transform: translateX(0);
			}
			&:nth-of-type(3){

				transform:rotatez(0deg);
			}
	}
	&.active {
		& span {
			&:nth-of-type(1){
				transform:rotateZ(45deg)
			}
			&:nth-of-type(2){
				opacity: 0;
				transform: translateX(-45deg);
			}
			&:nth-of-type(3){
				transform:rotatez(-45deg);
			}
		}
	}
}


