
.icon-link {
  --mainColor: #009D52;

  &:hover {
    --mainColor: #0FC16C;
  }

  &:active {
    --mainColor: #008042;
  }

  &.disabled {
    pointer-events: none;
    --mainColor: #28553F;
    cursor: auto;
  }

  &.blue {
    --mainColor: var(--blue);
  }

  &.orange {
    --mainColor: var(--orange);
  }


  color: var(--mainColor);
  border: var(--mainColor) solid 4px;
  border-radius: 50%;
  padding: 8px;

  width: 42px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}