

.icon-link{
  --blue: #5200FF;
  --orange: #FF5C00;
  --green: #009D52;

  --mainColor: var(--green);

  &.blue{
    --mainColor: var(--blue);
  }

  &.orange{
    --mainColor: var(--orange);
  }

  color: var(--mainColor);
  border: var(--mainColor) solid 4px;
  border-radius: 50%;
  padding: 8px;
  margin: 8px;

  width: 42px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}