@import "../../variables";

.header {
  height: calc(100vh);
  position: relative;

  &__container {
    position: relative;
    height: calc(100% - 100px);

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: $color-white;
    &__tittle{
      @include ChicaGogo();
      max-width: 761px;
      font-size: 64px;
      line-height: 72px;
      letter-spacing: 0.02em;
    }
    &__subtittle{
      @include Montserrat(400);
      max-width: 524px;
      font-size: 14px;
      line-height: 23px;
      letter-spacing: 0.02em;
      padding: 49px 0 60px;
      opacity: 0.75;
    }
    &__actions{

      .btn {
        color: $color-white;
        cursor: pointer;
        @include btn();
        @include Montserrat(700);
        &:last-child {
          color: $color-second;
          border: 3px solid $color-second;
          border-radius: 15px;
          background: transparent;
          margin-left: 20px;
        }
      }
    }
    .nav__socials{
        display: flex;
    }
    @media (max-width: 767.98px){
      padding: 0 10px;
      &__tittle {
        font-size: 48px;
      }
    }
  }
  .badger {
    position: absolute;
    //background: url("../../assets/img/Honey_badger.png")no-repeat;

    height: 800px;
     width: 856px;
    background-size: contain;
    background-position: right;
    right: 0px;
    top: -200px;
    z-index: -1;
    filter: drop-shadow(0px 0px 250px rgba(0, 0, 0, 0.25));
  }

}
.circle {
  position: absolute;
  width: 600px;
  height: 600px;
  left: -153px;
  top: -174px;
  z-index: -100;
  border-radius: 50%;
  background: linear-gradient(148.28deg, #5200FF 14.79%, rgba(255, 92, 0, 0.5) 85.83%);

  @media (max-width: 575.98px){
    width: 300px;
    height: 300px;
  }
}