@import "../../variables";
/*Desktop View*/
.header__nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(34, 6, 94, 0.1);
  backdrop-filter: blur(30px);
  justify-content: space-between;
  align-items: center;
  padding: 0px 140px;
  height: 100px;
  &-logo {
    font-family: ChicaGogoNFW01-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    span{
      color: #009D52;
    }
  }
  @media (max-width: 767.98px){

    padding: 0px 40px;
  }
  @media (max-width: 500.98px){
    .nav {
      &__logo{
        font-size: 28px;
      }
    }
  }
}


.header__nav-links {
  display: flex;
  list-style-type: none;
  .nav-link{
    padding-left: 50px;
    @include Montserrat(normal);
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.02em;
    a{
      transition: .3s all ease;
      &:hover {
        color: #6825FFFF;
      }
    }
  }
}
.mobile-nav-links {
  display: none;
}
.mobile-menu {
  display: none;
}
@media (max-width: 1199.98px) {
  /*Mobile View */
  .header__nav-links {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 100px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
    &.active {
      background: linear-gradient(232.64deg, #07040C -2.74%, #100B1A 106.48%);
      left: 0;
      opacity: 1;
      z-index: 1;
      align-content: center;
      padding-left: 0px;
      align-items: center;
      .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 0px 0px;
        width: 100px;
      }
    }
  }

  .mobile-menu {
    display: block;
  }
}
//asdasdasdasda

.mobile-menu label{
  display:flex;
  flex-direction:column;
  width:70px;
  cursor:pointer;
}

.mobile-menu label span{
  background: #fff;
  border-radius:10px;
  height:4px;
  margin: 4px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


.mobile-menu span:nth-of-type(1){
  width:50%;

}

.mobile-menu span:nth-of-type(2){
  width:100%;
}


.mobile-menu span:nth-of-type(3){
  width:75%;

}


.mobile-menu input[type="checkbox"]{
  display:none;
}


.mobile-menu input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(2px,-2px)
}


.mobile-menu input[type="checkbox"]:checked ~ span:nth-of-type(2){

  transform-origin:top;
  transform:rotatez(-45deg)
}


.mobile-menu input[type="checkbox"]:checked ~ span:nth-of-type(3){

  transform-origin:bottom;
  width:50%;
  transform: translate(25px,-2px) rotatez(45deg);

}
