@import '../../variables';
$containerSizeXS: 540px;
$containerSizeS: 720px;
$containerSizeM: 960px;
$containerSizeLg: 1160px;
$slideWidthCoef: 0.25;
$activeSlideCoef: 0.75;
$gapCoef: 0.1;
$activeImagePercentage: 50%;
$activeInfoPercentage: 50%;
.outer-container {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: auto;
  height: 600px;
  gap: 0;
  transition: all 1s ease-out;
}
.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  transition: all 0.2s ease-in-out;
  padding-inline: 0.5rem;
  height: 600px;

  &.active {
    .slide__image {
      img:hover {
        box-shadow: none;
        cursor: auto;
      }
    }
    .slide__info {
      padding-inline: 2rem;
      opacity: 1;
      visibility: visible;
      transition: visibility 1s linear 1s;
      transition: opacity 0.2s ease-in 0.4s, width 0.2s ease-in 0ms;
    }
  }
}
.slide__image {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  img {
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
  }
}
.slide__info {
  padding-inline: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease 0ms, width 0.2s ease 0.2s, padding-inline 0.2s ease 0.2s;
  font-size: 10pt;
  h2{
    color: $green;
    margin-block: 1rem;
  }
}
.controls {
  position: absolute;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  height: 100%;
  pointer-events: none;
}
.control {
  pointer-events: all;
}
@media (max-width: 600px) {
  .slide {
    flex-direction: column;

    .slide__image {
      width: 80vw;
      height: 30vh;
    }
    .slide__info {
      height: 0;
      width: 100%;
    }
    &.active {
      .slide__info {
        height: 30vh;
        width: 100%;
      }
    }
  }
}
@media (min-width: 575.98px) {
  //540
  .slide__image {
    max-width: $containerSizeXS * $slideWidthCoef;
  }

  .slide {
    max-width: $containerSizeXS * $activeSlideCoef;
    min-width: $containerSizeXS * $slideWidthCoef;
    &.active {
      min-width: $containerSizeXS * $activeSlideCoef;
      max-width: $containerSizeXS * $activeSlideCoef;
      .slide__image {
        max-width: $activeImagePercentage;
      }
      .slide__info {
        width: $activeInfoPercentage;
      }
    }
  }
}

@media (min-width: 767.98px) {
  //720
  .slide__image {
    max-width: $containerSizeS * $slideWidthCoef;
  }
  .slide {
    max-width: $containerSizeS * $activeSlideCoef;
    min-width: $containerSizeS * $slideWidthCoef;
    min-height: $containerSizeS * $slideWidthCoef;
    &.active {
      min-width: $containerSizeS * $activeSlideCoef;
      max-width: $containerSizeS * $activeSlideCoef;
      .slide__image {
        max-width: $activeImagePercentage;
      }
      .slide__info {
        width: $activeInfoPercentage;
      }
    }
  }
}

@media (min-width: 991.98px) {
  //960
  .slide__image {
    max-width: $containerSizeM * $slideWidthCoef;
  }
  .slide {
    max-width: $containerSizeM * $activeSlideCoef;
    min-width: $containerSizeM * $slideWidthCoef;
    &.active {
      min-width: $containerSizeM * $activeSlideCoef;
      max-width: $containerSizeM * $activeSlideCoef;
      .slide__image {
        max-width: $activeImagePercentage;
      }
      .slide__info {
        width: $activeInfoPercentage;
      }
    }
  }
}

@media (min-width: 1199.98px) {
  //1160

  .slide__image {
    max-width: $containerSizeLg * $slideWidthCoef;
    min-height: $containerSizeLg * $slideWidthCoef;
    img {
      min-width: calc($containerSizeLg * $slideWidthCoef - 1rem);
    }
  }
  .slide__info {
    max-height: $containerSizeLg * 0.4;
  }
  .slide {
    max-width: $containerSizeLg * $activeSlideCoef;
    min-width: $containerSizeLg * $slideWidthCoef;

    &.active {
      min-width: $containerSizeLg * $activeSlideCoef;
      max-width: $containerSizeLg * $activeSlideCoef;
      .slide__image {
        width: $containerSizeLg * 0.4;
      }
      .slide__info {
        width: $activeInfoPercentage;
      }
    }
  }
}
