.contact-us {

	&__wrap {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		& .contact-us__image {
			img {
				display: block;
				width: auto;
				@media (max-width: 998px){
					max-height: 60%;
					max-width: 300px;
					transform: translateY(40%);
				}
			}
		}
		& .contact-us__form {
			flex: .8 1 auto;
		}
	}
}