@import "../../variables";

.contact-us{

  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;


    .contact-us__image {
      height: calc(640px);
      //height: 640px;
      width: calc(50% - 100px);
      //width: 432px;
      flex: 0 1 auto;
      background-image: url("../../assets/img/contactUs_human.png");
      //background-size: cover;
      background-repeat: no-repeat;
      background-position: left center;

    }
    .contact-us__form {
      max-width: 570px;
      flex: 1 1 auto;
      margin: 0 10px;
    }
  }
}



