// MainColors

$color-second: rgb(79, 0, 255);
$color-white: rgb(255,255,255);
$color-grean: rgba(0, 157, 82, 1);

$blue: #5200FF;
$orange: #FF5C00;
$green: #009D52;
$dark: #0D0916;

$screen-sm: 575.98px;
$screen-md: 767.98px;
$screen-lg: 991.98px;
$screen-xl: 1199.98px;
$screen-xxl: 1400px;
$screen-xxxl: 1600px;
// Text
@mixin Montserrat($weight){
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: $weight;
}
@mixin ChicaGogo() {
  font-family: ChicaGogoNFW01-Bold;
  font-style: normal;
  font-weight: bold;
}

@mixin BlackCircle($diameter){
  position: absolute;
  content: "";
  background: black;
  min-width: $diameter;
  height: $diameter;
  z-index: -1;
  border-radius: 50%;
}