// MainColors

$color-second: rgb(79, 0, 255);
$color-white: rgb(255,255,255);
$color-grean: rgba(0, 157, 82, 1);

$blue: #5200FF;
$orange: #FF5C00;
$green: #009D52;
$dark: #0D0916;


// Text
@mixin Montserrat($weight){
  font-family: Montserrat;
  font-style: normal;
  font-weight: $weight;
}
@mixin ChicaGogo() {
  font-family: ChicaGogoNFW01-Bold;
  font-style: normal;
  font-weight: bold;
}

// Button

@mixin btn {
  background: linear-gradient(106.31deg, #5200FF -7.17%, #FF5C00 108.68%);
  box-shadow: 7px 15px 50px rgba(0, 0, 0, 0.25), inset 4px 6px 4px rgba(255, 255, 255, 0.15), inset -3px -5px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 19px 46px;
}
