// MainColors

$color-second: rgb(79, 0, 255);
$color-white: rgb(255,255,255);
$color-grean: rgba(0, 157, 82, 1);

$blue: #5200FF;
$orange: #FF5C00;
$green: #009D52;
$dark: #0D0916;


// Text
@mixin Montserrat($weight){
  font-family: Montserrat;
  font-style: normal;
  font-weight: $weight;
}
@mixin ChicaGogo() {
  font-family: ChicaGogoNFW01-Bold;
  font-style: normal;
  font-weight: bold;
}