

.App {
  --blue: #5200FF;
  --orange: #FF5C00;
  --green: #009D52;

  --half-blue: rgba(82, 0, 255, 0.5);
  --half-orange: rgba(255, 92, 0, 0.5);
  --half-green: rgba(0, 157, 82, 0.5);

}

@mixin scrollbars(
  $size: 0.5rem,
  $foreground-color: #999,
  $background-color: #333
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 10px;

  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

*{
  @include scrollbars()
}