@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include Montserrat(600);

}

body {
  background: linear-gradient(232.64deg, #07040c -2.74%, #100b1a 106.48%);
  color: rgb(255, 255, 255);
}

h1, h2{
  @include ChicaGogo();
    font-weight: 600;
    font-size: 36pt;
    line-height: 56px;
    letter-spacing: 0.02em;

    margin: 3rem 0;
}

h3{
  @include ChicaGogo();
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;

  margin: 1.5rem 0;
}

p{
  @include Montserrat(400);
  font-size: 14px;
  line-height: 165%;

  letter-spacing: 0.02em;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul{
  li{
    list-style: none;
  }
}

.container{
  //min-height: 600px;
  padding: 3rem 0;
  margin: 0;
  width: 100%;

}

.full-width-wrapper{
  width: 100%;
}

@media (max-width: 575.98px) {
  .container {
    padding: 3rem 2rem;
    margin: 0;
  }
}
@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1160px;
  }


}

@media (min-width: 1400px) {
  h1, h2{
    font-size: 48pt;
    line-height: 72px;
    letter-spacing: 0.02em;
    color: $color-white;

    margin: 3rem 0;
  }
}

@media (max-width: 550px) {
  h1, h2{

    font-size: 24pt;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.02em;

    margin: 1rem 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}


