.advantages-wrapper{
  background: linear-gradient(232.64deg, #07040C -2.74%, #100B1A 106.48%);
  position: relative;

  .paw-img{
    object-fit: contain;
    align-self: center;

    max-width: 40%;
    max-height: 600px;
    margin: 4rem -6rem 0 5%;

    filter: drop-shadow(0px 0 70px rgba( 82, 0, 255, 0.5));

    shape-margin: 1rem;
    shape-outside: url('../../assets/img/paw.png');
   // shape-outside: polygon(0 35%, 20% 30%, 25% 0%, 100% 0%, 100% 93%, 15% 93%, 0% 75%);

    float: right;
  }
}

.advantages-section{
  overflow: visible;
  width: 100%;

  h2{
    text-align: center;
  }

  .advantage-content{
    display: inline-flex;
  }
}

@media (min-width: 1199.98px){
  .advantages-wrapper .paw-img{
      position: absolute;
      right: 0;
      margin: 0;
      max-width: 38%;
      max-height: 60%;
  }

  .advantages-section .advantage-list{
      width: 60%;
  }
}

@media (max-width: 1199.98px){
 .advantages-wrapper .paw-img{
   margin: 4rem -15% 0 5%;
 }
}

@media (max-width: 1000px){
  .advantages-wrapper .paw-img {
    max-width: 50%;
    margin: 3% -20% 0 5%;
  }
}

@media (max-width: 991.98px) {
  .advantages-wrapper .paw-img {
    max-width: 50%;
    margin: 4rem -20% 0 5%;
  }
}

@media (max-width: 821px) {
  .advantages-wrapper{
    background: linear-gradient(232.64deg, #07040C -2.74%, #100B1A 106.48%);
    position: relative;

    .paw-img{
      transform: none;
      position: inherit;
      min-height: 80%;
      max-height: 80%;
      max-width: 50%;
      min-width: 60%;
      margin: 8% -20% 0 5%;;
    }

    .advantage-list{
      width: 100%;
    }
  }
}

@media (max-width: 767.98px) {
  .advantages-wrapper .paw-img {
    max-width: 70%;
    margin: 17% -50% 0 5%;
  }
}

@media (max-width: 651px) {
  .advantages-wrapper .paw-img {
    min-width: 40%;
    margin: 18% -38% auto 5%;
  }
}

@media (max-width: 575.98px) {
  .advantages-wrapper .paw-img {
    max-width: 70%;
    margin: 8.5rem -40% auto 5%;
  }
}

@media (max-width: 451px) {
  .advantages-wrapper .paw-img{
      min-width: 60%;
  }
}

@media (min-width: 451px) {
  .advantages-section {
    overflow: visible;
  }
}

