.slider{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  gap:.5rem;
  &--simple{
    height: 100%;
  }
  &--round{
    height: min(calc(100vw/2.4),550px);
  }
  &--square{
    height: 40rem;
  }
}
.slider__carousel{
  height: calc(100% - 14px - 0.5rem);
  display: flex;
  flex-direction: row;
  transform: translateX(0);
  -webkit-transition: -webkit-transform .5s ease-in-out 0s;
  transition: transform 0.3s ease-out 0s;
  
}
@media (min-width: 767.98px) {
  .slider{
    &--round{
     
    }
    &--square{
      height: 40rem;
    }
  }
}
